@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
  }
  .button {
    position: relative;
    border-radius: 6px;
    font-size: 1.5em;
    cursor: pointer;
  }
 
.button::before {
    content: "";
    width: 150%;
    height: 156%;
    border-radius: 12px;
    background-image: linear-gradient(
      var(--rotate)
      , #5ddcff, #3c67e3 43%, #4e00c2);
      position: absolute;
      z-index: -1;
      top: -11%;
      left: -3%;
      animation: spin 2.5s linear infinite;
  }

 
  
  @keyframes spin {
    0% {
      --rotate: 0deg;
    }
    100% {
      --rotate: 360deg;
    }
  }
