.logo-imagen {
    width: 40%;
    min-width: 300px;
    margin-top: 50px;
    margin-bottom: 30px;
}

.cel-spc-bot {
    margin-bottom: 12%;
}

.modulo-cliente {
    width: 25%;
    min-width: 200px;
    height: 225px;
    max-height: 260px;
    background-color: #b70404;
    display: inline-block;
}

.icon-clie-modified {
    padding-top: 10%;
}

.img-clie {
    width: 60%;
    height: 160px;
}

.img-clie:hover {
    width: 100%;
    height: 160px;
}

.modulo-asistente {
    width: 25%;
    min-width: 200px;
    height: 225px;
    max-height: 260px;
    background-color: #001850;
    display: inline-block;
}

.icon-asist-modified {
    padding-top: 3%;
}

.img-asist {
    width:75%;
    height:160px;
}

.img-asist:hover {
    width: 85%;
    height: 160px;
}



